<div class="sidebar-button-container h-100 w-100">
    <div class="inner-button-container">
        <a href="{{ path('app_login') }}" class="button-login"><i class="fa fa-arrow-circle-right"></i>INICIAR SESION</a>
        <hr>
        <a href="{{ path('app_register') }}" class="button-login"><i class="fa fa-user-plus"></i>REGISTRARSE</a>
    </div>
</div>